@page "/businesses"
@using Telerik.FontIcons
@using Menominee.Shared
@attribute [Microsoft.AspNetCore.Authorization.Authorize
(Policies.CanManageHumanResources)]

<div class="container">
    <div class="h5">Businesses</div>

    @if (BusinessFormMode != FormMode.Add && BusinessFormMode != FormMode.Edit)
    {
        @if (Businesses == null)
        {
            <p><em>Loading...</em></p>
        }
        @if (Businesses != null)
        {
            <div class="pb-3">
                <TelerikButton OnClick="Add"
                       ThemeColor="primary"
                       Icon="@FontIcon.Plus"
                       title="Add New Business">
                    Add Business
                </TelerikButton>
            </div>

            <BusinessesGrid Businesses="Businesses"
                       OnRowClicked="@EditAsync" />
        }
    }

    @if ((BusinessFormMode == FormMode.Add || BusinessFormMode == FormMode.Edit) && Business != null)
    {
        <BusinessContactableEditor Business="Business"
                                   FormMode="BusinessFormMode"
                                   Save="SubmitHandlerAsync"
                                   Close="SubmitHandlerAsync" />
    }
</div>
<style>
    .dialog-button {
        margin-right: 0.7rem;
    }
</style>