@*<div class="ui form">*@
@*<div class="form">
    <h5 class="m-bordered-form-header">Totals</h5>
    <div class="m-bordered-form">*@
@*<div>
    <Card Title="Totals">
        <Content>*@
            @*<div class="w-100">*@
            @*<table class="w-100 table table-striped table-bordered table-sm">*@
            <table class="w-100 table table-striped table-sm m-no-margin-bottom">
                <tr>
                    <td class="m-totals-data" colspan="8">Purchases</td>
                    <td class="m-totals-data text-right" colspan="4">618.77</td>
                </tr>
                <tr>
                    <td class="m-totals-data" colspan="8">Misc Debit</td>
                    <td class="m-totals-data text-right" colspan="4">0.00</td>
                </tr>
                <tr>
                    <td class="m-totals-data" colspan="8">Stock Return</td>
                    <td class="m-totals-data text-right" colspan="4">0.00</td>
                </tr>
                <tr>
                    <td class="m-totals-data" colspan="8">Defective</td>
                    <td class="m-totals-data text-right" colspan="4">0.00</td>
                </tr>
                <tr>
                    <td class="m-totals-data" colspan="8">Warranty</td>
                    <td class="m-totals-data text-right" colspan="4">0.00</td>
                </tr>
                <tr>
                    <td class="m-totals-data" colspan="8">Core Return</td>
                    <td class="m-totals-data text-right" colspan="4">0.00</td>
                </tr>
                <tr>
                    <td class="m-totals-data" colspan="8">Misc Credit</td>
                    <td class="m-totals-data text-right" colspan="4">0.00</td>
                </tr>
                <tr>
                    <td class="m-totals-data" colspan="8">Bal. Forward</td>
                    <td class="m-totals-data text-right" colspan="4">0.00</td>
                </tr>
                <tr>
                    <td class="m-totals-data" colspan="8">Taxes</td>
                    <td class="m-totals-data text-right" colspan="4">37.12</td>
                </tr>
                <tr id="totalsLine">
                    <td class="m-totals-data m-row-divider" colspan="8">Total</td>
                    <td class="m-totals-data text-right m-row-divider" colspan="4">655.89</td>
                </tr>
            </table>
        @*</Content>
    </Card>
</div>*@

<style>
/*    .m-totals {
        font-weight: bold;
    }
*/

    #totalsLine {
        font-weight: 600;
    }

    .m-totals-data, .m-totals-data:last-child {
        border: 0 !important;
        padding: 0 0 .25rem 0 !important;
    }

    td.m-row-divider, td.m-row-divider:last-child {
        border-top: 1px solid gray !important;
        padding-top: .25rem !important;
    }

</style>
