@typeparam TItem

<div class="m-form-control-group">
    <label for="name" class="form-control-label">First Name</label>
    <TelerikTextBox @bind-Value="FirstName"
                    Width="100%">
    </TelerikTextBox>
</div>
<div class="m-form-control-group">
    <label for="note" class="form-control-label">Middle Name</label>
    <TelerikTextBox @bind-Value="MiddleName"
                    Width="100%">
    </TelerikTextBox>
</div>
<div class="m-form-control-group">
    <label for="note" class="form-control-label">Last Name</label>
    <TelerikTextBox @bind-Value="LastName"
                    Width="100%">
    </TelerikTextBox>
</div>