<EditForm Model="Person">
    @Title Person
    <div class="form-group row">
        <label for="state" class="form-control-label">Gender</label>
        <TelerikComboBox Data="GenderEnumData"
                         TextField="DisplayText"
                         ValueField="Value"
                         @bind-Value="@Person.Gender"
                         Width="100%"
                         ClearButton="false"
                         Placeholder="Select a Gender"
                         Enabled="EnableEditor">
        </TelerikComboBox>
    </div>
    <div class="form-group row">
        <label for="note" class="col-form-label">Birthday</label>
        <TelerikDateInput @bind-Value="@Person.Birthday"
                          Width="100%">
        </TelerikDateInput>
    </div>
</EditForm>
