@typeparam TItem

<div class="form-group row">
    <label for="state" class="form-control-label">Gender</label>
    <TelerikComboBox Data="@GenderEnumData"
                     TextField="DisplayText"
                     ValueField="Value"
                     @bind-Value="@Gender"
                     Width="100%"
                     Filterable="true"
                     ClearButton="false"
                     Placeholder="Select a Gender"
                     Enabled="EnableEditor">
    </TelerikComboBox>
</div>
<div class="form-group row">
    <label for="note" class="col-form-label">Birthday</label>
    <TelerikDateInput @bind-Value="@Birthday"
                      Width="100%">
    </TelerikDateInput>
</div>