@typeparam TItem

<table class="table table-hover table-borderless table-sm">
    <thead>
        <tr class="">
            @TableHeader
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Items)
        {
            <tr @key="item">
                @RowTemplate(item)
            </tr>
        }
    </tbody>
</table>