<div class="container">
    <div class="h6">Emails</div>
    @if (((int)Emails?.Count()) > 0)
    {
        <ContactableTemplate Items="Emails"
                             TItem="EmailToWrite"
                             Context="email"
                             @key="Email"
                             OnRowClick="Edit">
            <TableHeader>
                <th>Address</th>
                <th>Primary</th>
            </TableHeader>
            <RowTemplate>
                <td>
                    @email.Address
                </td>
                <td>
                    <TelerikCheckBox @bind-Value="email.IsPrimary" Enabled="false" />
                </td>
            </RowTemplate>
        </ContactableTemplate>
    }

    @if (Editing || Adding)
    {
        <EmailEditor Email="Email"
                     DialogVisible="DialogVisible"
                     Saved="Save"
                     Cancelled="Cancel">
        </EmailEditor>
    }
    <div>
        <TelerikButton OnClick="AddAsync"
                       Icon="plus"
                       ButtonType="ButtonType.Button"
                       Class="button-border-success"
                       title="Add New Email">
            Add Email
        </TelerikButton>
    </div>
</div>