@typeparam TItem

<div class="field">
    <label for="name">Name</label>
    <InputText id="name" class="ui input" @bind-Value="Name" />
</div>


<div class="field">
    <label for="note">Notes</label>
    <InputText id="note" class="ui input" @bind-Value="Note" />
</div>
