<div class="person-name-container">
    <div class="row">
        <div class="col-9 pl-0">
            <label for="firstName" class="k-label">First Name</label>
            <TelerikTextBox @bind-Value="PersonName.FirstName"
                            Id="firstName"
                            AutoComplete="off"
                            Width="100%">
            </TelerikTextBox>
        </div>
        <div class="col-3 p-0">
            <label for="middleName" class="k-label">Middle</label>
            <TelerikTextBox @bind-Value="PersonName.MiddleName"
                            Id="middleName"
                            AutoComplete="off"
                            Width="100%">
            </TelerikTextBox>
        </div>
    </div>
    <div class="row mb-0">
        <label for="lastName" class="k-label">Last Name</label>
        <TelerikTextBox @bind-Value="PersonName.LastName"
                        Id="lastName"
                        AutoComplete="off"
                        Width="100%">
        </TelerikTextBox>
    </div>
</div>

<style>
    .person-name-container {
        display: grid;
    }
</style>
