<EditForm Model="@Person">

    <PersonEditor Person="@Person"
                  Enabled="true"
                  FormMode="FormMode" />

    <TelerikGridLayout Class="mt-2">
        <GridLayoutColumns>
            <GridLayoutColumn Width="30%"></GridLayoutColumn>
            <GridLayoutColumn Width="35%"></GridLayoutColumn>
            <GridLayoutColumn Width="35%"></GridLayoutColumn>
        </GridLayoutColumns>
        <GridLayoutRows>
            <GridLayoutRow></GridLayoutRow>
        </GridLayoutRows>
        <GridLayoutItems>
            <GridLayoutItem>
                <PersonAddressEditor Person="@Person" />
            </GridLayoutItem>
            <GridLayoutItem>
                <PhonesEditor Phones="@Person?.Phones"></PhonesEditor>
            </GridLayoutItem>
            <GridLayoutItem>
                <EmailsEditor Emails="@Person?.Emails"></EmailsEditor>
            </GridLayoutItem>
        </GridLayoutItems>
    </TelerikGridLayout>

    <div class="pt-4">
        <EditFormButtons Close="Close"
                         Save="Save"
                         EnableSave="true">
        </EditFormButtons>
    </div>
</EditForm>

@code {
    [Parameter] public PersonToWrite Person { get; set; }
    [Parameter] public FormMode FormMode { get; set; }
    [Parameter] public EventCallback Close { get; set; }
    [Parameter] public EventCallback Save { get; set; }
}
