@if (Person is not null)
{
    <PersonNameEditor Name="@Person.Name" />
    @if (IncludeNotes)
    {
        <div>
            <label for="notes">Notes</label>
            <TelerikTextBox @bind-Value="@Person.Notes"
                            Id="notes"
                            AutoComplete="off"
                            OnBlur="TrimPersonNotes"
                            Width="100%">
            </TelerikTextBox>
            <ValidationMessage For="@(() => Person.Notes)" />
        </div>
    }
    <PersonBirthdayEditor Person="@Person" />
}