<PersonNameEditor PersonName="Person.Name" />

<div class="form-group row">
    <label for="gender" class="k-label">Gender</label>
    <TelerikComboBox Data="GenderEnumData"
                     TextField="DisplayText"
                     ValueField="Value"
                     @bind-Value="@Person.Gender"
                     Width="100%"
                     ClearButton="false"
                     Placeholder="Select a Gender"
                     Id="gender"
                     Enabled="Enabled">
    </TelerikComboBox>
</div>

<PersonBirthdayEditor Person="@Person"/>

<style>
    .k-label {
        margin-bottom: .2rem !important;
    }

    .add-item {
        color: white;
        background-color: forestgreen;
    }

    .remove-item {
        color: white;
        background-color: indianred;
    }
</style>