@page "/settings/salesdepartments"
@using MenomineePlayWASM.Client.Components.Settings

<SettingsMenu />

@if (customSettings != null)
{
    <div class="m-main-content">
        <div class="ui form">
            <EditForm Model="@customSettings">
                <div class="m-form">
                    <ContentHeader Header="Sales Departments" />
                    <div class="cards">
                        <div class="card">
                            <header>
                                <h2>A short heading</h2>
                            </header>
                            <div class="content">
                                <p> The idea of reaching the North Pole by means of balloons appears to have been entertained many years ago. </p>
                            </div>

                        </div>

                        <div class="card">
                            <header>
                                <h2>A short heading</h2>
                            </header>
                            <div class="content">
                                <p>Short content.</p>
                            </div>
                            <footer>I have a footer!</footer>
                        </div>

                        <div class="card">
                            <header>
                                <h2>A longer heading in this card</h2>
                            </header>
                            <div class="content">
                                <p>
                                    In a curious work, published in Paris in 1863 by Delaville Dedreux, there is a
                                    suggestion for reaching the North Pole by an aerostat.
                                </p>
                            </div>
                            <footer>I have a footer!</footer>
                        </div>
                        <div class="card">
                            <header>
                                <h2>A short heading</h2>
                            </header>
                            <div class="content">
                                <p>
                                    The idea of reaching the North Pole by means of balloons appears to have been entertained many
                                    years ago.
                                </p>
                            </div>

                        </div>
                    </div>
                    <SaveDiscardButtons OnSave="@SaveChanges" OnDiscard="@DiscardChanges" />
                </div>
            </EditForm>
        </div>
    </div>
}

<style>
    .cards {
        display: grid;
        /*grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));*/
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }

    .card {
        display: grid;
        /*grid-template-rows: max-content 200px 1fr;*/
    }

    @@media (max-width:768px) {
        .cards {
            grid-template-columns: repeat(1, 1fr);
        }
    }
</style>