@page "/organizations"

<div class="container">
    <div class="h5">Organizations</div>

    @if (OrganizationsList == null)
    {
        @if (!EditingOrganization && !AddingOrganization)
        {
            <p><em>Loading...</em></p>
        }
    }

    @if (!EditingOrganization && !AddingOrganization && OrganizationsList != null)
    {
        <div class="pb-3">
            <TelerikButton OnClick="Add"
                           Primary="true"
                           Icon="plus"
                           title="Add New Organization">
                Add Organization
            </TelerikButton>
        </div>
        <OrganizationsGrid Organizations="OrganizationsList"
                           OnSelected="HandleSelectedOrganizationAsync"></OrganizationsGrid>
    }


    @if ((AddingOrganization || EditingOrganization) && organizationToWrite != null)
    {
        <EditForm Model="@organizationToWrite"
                  OnValidSubmit="Save">
            <OrganizationEditor TItem="OrganizationToWrite"
                                Item="@organizationToWrite"
                                NameProperty="Name"
                                NoteProperty="Note" />
            <FluentValidationValidator />
            <TelerikGridLayout>
                <GridLayoutColumns>
                    <GridLayoutColumn Width="30%"></GridLayoutColumn>
                    <GridLayoutColumn Width="35%"></GridLayoutColumn>
                    <GridLayoutColumn Width="35%"></GridLayoutColumn>
                </GridLayoutColumns>
                <GridLayoutRows>
                    <GridLayoutRow></GridLayoutRow>
                </GridLayoutRows>
                <GridLayoutItems>
                    <GridLayoutItem>
                        <div class="h6"
                             tabindex="-1"
                             @onclick="() => EditingAddress = true">
                            Address
                            &nbsp &nbsp
                            @if (organizationToWrite?.Address != null)
                            {
                                <TelerikIcon Icon="pencil" />
                            }
                        </div>
                        @if (organizationToWrite?.Address != null)
                        {
                            <TelerikWindow Visible="AddressDialogVisible"
                                           Modal="true">
                                <WindowTitle>
                                    Address
                                </WindowTitle>
                                <WindowContent>
                                    <AddressEditor TItem="AddressToWrite"
                                                   Item="@organizationToWrite?.Address"
                                                   AddressLineProperty="AddressLine"
                                                   CityProperty="City"
                                                   StateProperty="State"
                                                   PostalCodeProperty="PostalCode"
                                                   EnableEditor="true" />

                                    <TelerikButton OnClick="SaveAddress"
                                                   Icon="check"
                                                   Primary="true"
                                                   ButtonType="ButtonType.Button"
                                                   title="Save New Address">
                                        Ok
                                    </TelerikButton>
                                    <TelerikButton OnClick="CancelEditAddress"
                                                   ButtonType="ButtonType.Button"
                                                   Icon="x"
                                                   title="Cancel New Address">
                                        Cancel
                                    </TelerikButton>
                                </WindowContent>
                            </TelerikWindow>
                            @if (organizationToWrite?.Address != null && !AddingAddress)
                            {
                                <AddressEditor TItem="AddressToWrite"
                                               Item="@organizationToWrite?.Address"
                                               AddressLineProperty="AddressLine"
                                               CityProperty="City"
                                               StateProperty="State"
                                               PostalCodeProperty="PostalCode"
                                               EnableEditor="false" />
                            }
                        }
                        else
                        {
                            <TelerikButton OnClick="AddAddress"
                                           Icon="plus"
                                           Class="button-border-success"
                                           title="Add New Address">
                                Add Address
                            </TelerikButton>
                        }
                    </GridLayoutItem>
                    <GridLayoutItem>
                        <PhonesEditor PhonesToWrite="@organizationToWrite?.Phones"></PhonesEditor>
                    </GridLayoutItem>
                    <GridLayoutItem>
                        <EmailsEditor EmailsToWrite="@organizationToWrite?.Emails"></EmailsEditor>
                    </GridLayoutItem>
                </GridLayoutItems>
            </TelerikGridLayout>
            <EditFormButtons Close="CloseEditorAsync"></EditFormButtons>
        </EditForm>
    }
</div>
