@page "/organizations"

<div class="container">
    <div class="h5">Organizations</div>

    @if (OrganizationsList == null)
    {
        @if (!EditingOrganization && !AddingOrganization)
        {
            <p><em>Loading...</em></p>
        }
    }
    @if (!EditingOrganization && !AddingOrganization && OrganizationsList != null)
    {
        <TelerikButton OnClick="Add"
                       Primary="true"
                       Icon="plus"
                       title="Add New Organization">
            Add Organization
        </TelerikButton>

        <table class="table table-hover table-responsive table-sm">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Primary Phone</th>
                    <th>Type</th>
                    <th>Primary Email</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var organization in OrganizationsList)
                {
                    <OrganizationsIndexRow @key="organization" Organization="organization" OnEdit="EditAsync"></OrganizationsIndexRow>
                }
            </tbody>
        </table>

    }

    @if (AddingOrganization && OrganizationToAdd != null)
    {
        <EditForm class=""
                  Model="@OrganizationToAdd">
            <OrganizationEditor TItem="OrganizationToAdd"
                                Item="@OrganizationToAdd"
                                NameProperty="Name"
                                NoteProperty="Note" />

            <TelerikGridLayout>
                <GridLayoutColumns>
                    <GridLayoutColumn Width="30%"></GridLayoutColumn>
                    <GridLayoutColumn Width="35%"></GridLayoutColumn>
                    <GridLayoutColumn Width="35%"></GridLayoutColumn>
                </GridLayoutColumns>
                <GridLayoutRows>
                    <GridLayoutRow></GridLayoutRow>
                </GridLayoutRows>
                <GridLayoutItems>
                    <GridLayoutItem>
                        <div class="h6">Address</div>
                        @if (OrganizationToAdd?.Address != null)
                        {
                            <AddressEditor TItem="AddressToAdd"
                                           Item="@OrganizationToAdd?.Address"
                                           AddressLineProperty="AddressLine"
                                           CityProperty="City"
                                           StateProperty="State"
                                           PostalCodeProperty="PostalCode" />
                        }
                        else
                        {
                            <TelerikButton OnClick="() => OrganizationToAdd.Address = new()"
                                           Icon="plus"
                                           Class="button-border-success"
                                           title="Add New Address">
                                Add Address
                            </TelerikButton>
                        }
                    </GridLayoutItem>
                    <GridLayoutItem>
                        <PhonesEditor PhonesToAdd="@OrganizationToAdd?.Phones" FormMode="FormMode.Add"></PhonesEditor>
                    </GridLayoutItem>
                    <GridLayoutItem>
                        <EmailsEditor EmailsToAdd="@OrganizationToAdd?.Emails" FormMode="FormMode.Add"></EmailsEditor>
                    </GridLayoutItem>
                </GridLayoutItems>
            </TelerikGridLayout>
        </EditForm>

        <div class="pt-4">
            <EditFormButtons CloseEventCallback="EndAddAsync"
                             SaveEventCallback="HandleAddSubmit">
            </EditFormButtons>
        </div>
    }

    @if (EditingOrganization && OrganizationToEdit != null)
    {
        <EditForm class="ui form"
                  Model="@OrganizationToEdit"
                  OnSubmit="HandleUpdateSubmit">

            <OrganizationEditor TItem="OrganizationToEdit"
                                Item="@OrganizationToEdit"
                                NameProperty="Name"
                                NoteProperty="Note" />

            <TelerikGridLayout>
                <GridLayoutColumns>
                    <GridLayoutColumn Width="30%"></GridLayoutColumn>
                    <GridLayoutColumn Width="35%"></GridLayoutColumn>
                    <GridLayoutColumn Width="35%"></GridLayoutColumn>
                </GridLayoutColumns>
                <GridLayoutRows>
                    <GridLayoutRow></GridLayoutRow>
                </GridLayoutRows>
                <GridLayoutItems>
                    <GridLayoutItem>
                        @if (OrganizationToEdit?.Address != null)
                        {
                            <AddressEditor TItem="AddressToEdit"
                                           Item="@OrganizationToEdit?.Address"
                                           AddressLineProperty="AddressLine"
                                           CityProperty="City"
                                           StateProperty="State"
                                           PostalCodeProperty="PostalCode" />
                        }
                        else
                        {
                            <TelerikButton OnClick="() => OrganizationToEdit.Address = new()"
                                           Icon="plus"
                                           Class="button-border-success"
                                           title="Add New Address">
                                Add Address
                            </TelerikButton>
                        }
                    </GridLayoutItem>
                    <GridLayoutItem>
                        <PhonesEditor PhonesToEdit="@OrganizationToEdit?.Phones" FormMode="FormMode.Edit"></PhonesEditor>
                    </GridLayoutItem>
                    <GridLayoutItem>
                        <EmailsEditor EmailsToEdit="@OrganizationToEdit?.Emails" FormMode="FormMode.Edit"></EmailsEditor>
                    </GridLayoutItem>
                </GridLayoutItems>
            </TelerikGridLayout>

            <EditFormButtons CloseEventCallback="EndEditAsync"></EditFormButtons>
        </EditForm>
    }
</div>
