@page "/organizations"

<div class="container">
    <div class="h5">Organizations</div>

    @if (OrganizationsList == null)
    {
        @if (!EditingOrganization && !AddingOrganization)
        {
            <p><em>Loading...</em></p>
        }
    }

    @if (!EditingOrganization && !AddingOrganization && OrganizationsList != null)
    {
        <div class="pb-3">
            <TelerikButton OnClick="Add"
                           Primary="true"
                           Icon="plus"
                           title="Add New Organization">
                Add Organization
            </TelerikButton>
        </div>
        <OrganizationsGrid Organizations="OrganizationsList"
                           OnSelected="HandleSelectedOrganizationAsync" />
    }


    @if ((AddingOrganization || EditingOrganization) && organization != null)
    {
        <EditForm Model="@organization"
                  OnValidSubmit="Save">
            <OrganizationEditor TItem="OrganizationToWrite"
                                Item="@organization"
                                NameProperty="Name"
                                NoteProperty="Note" />
            <FluentValidationValidator />
            <TelerikGridLayout>
                <GridLayoutColumns>
                    <GridLayoutColumn Width="30%"></GridLayoutColumn>
                    <GridLayoutColumn Width="35%"></GridLayoutColumn>
                    <GridLayoutColumn Width="35%"></GridLayoutColumn>
                </GridLayoutColumns>
                <GridLayoutRows>
                    <GridLayoutRow></GridLayoutRow>
                </GridLayoutRows>
                <GridLayoutItems>
                    <GridLayoutItem>
                        @if (organization?.Address != null)
                        {
                            <div class="h6"
                                 tabindex="-1"
                                 @onclick="() => AddressEditorModal = true">
                                Address
                                &nbsp &nbsp
                                <TelerikIcon Icon="pencil" />
                            </div>
                            <AddressEditor Address="organization?.Address"
                                           Cancel="CancelAddress"
                                           Ok="SaveAddress"
                                           Enabled="AddressEditorModal" />
                        }

                        @if (AddressEditorModal)
                        {

                            <AddressDialog Address="organization?.Address"
                                           Cancel="CancelAddress"
                                           Ok="SaveAddress"
                                           Visible="AddressEditorModal"
                                           Enabled="true" />
                        }


                        @if (organization?.Address == null)
                        {
                            <div class="h6"
                                 tabindex="-1">
                                Address
                                &nbsp &nbsp
                            </div>
                            <TelerikButton OnClick="AddAddress"
                                           Icon="plus"
                                           Class="button-border-success"
                                           title="Add New Address">
                                Add Address
                            </TelerikButton>
                        }
                    </GridLayoutItem>
                    <GridLayoutItem>
                        <PhonesEditor PhonesToWrite="@organization?.Phones" />
                    </GridLayoutItem>
                    <GridLayoutItem>
                        <EmailsEditor EmailsToWrite="@organization?.Emails" />
                    </GridLayoutItem>
                </GridLayoutItems>
            </TelerikGridLayout>
            <div class="pt-4">
                <EditFormButtons Close="CloseEditorAsync" />
            </div>
        </EditForm>
    }
</div>
