@using Telerik.Blazor.Components

<TelerikWindow Visible="true"
               Modal="true"
               Width="500px"
               Class="popupWindowClass">
    <WindowTitle>
        @Title
    </WindowTitle>
    <WindowContent>
        <div class="form-row">
            <div class="form-group col col-12 col-md-3">
                <label class="m-label" for="name">Code</label>
                <input type="text" class="form-control m-uppercase" id="code" autocomplete="off" onfocus="this.select();" @bind-value="SaleCode.Code">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col col-12">
                <label class="m-label" for="name">Name</label>
                <input type="text" class="form-control" id="name" autocomplete="off" onfocus="this.select();" @bind-value="SaleCode.Name">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col col-6">
                <div>
                    <label class="m-label" for="laborRate">Labor Rate</label>
                </div>
                <TelerikNumericTextBox @bind-Value="SaleCode.LaborRate"
                                       Format="C"
                                       Id="laborRate"
                                       Width="50%"
                                       Arrows="false">
                </TelerikNumericTextBox>
            </div>
            <div class="form-group col col-6">
                <div>
                    <label class="m-label" for="margin">Target Margin</label>
                </div>
                <TelerikNumericTextBox @bind-Value="SaleCode.DesiredMargin"
                                       Format="#0.00#'%'"
                                       Decimals=3
                                       Id="margin"
                                       Width="50%"
                                       Arrows="false">
                </TelerikNumericTextBox>
            </div>
        </div>

        <div class="form-row m-margin-top">
            <div class="form-group col">
                <SfTab ShowCloseButton="false" OverflowMode="OverflowMode.Scrollable" HeaderPlacement="HeaderPosition.Top" CssClass="e-background m-tabs k-window">
                    <TabAnimationSettings>
                        <TabAnimationPrevious Effect="AnimationEffect.None"></TabAnimationPrevious>
                        <TabAnimationNext Effect="AnimationEffect.None"></TabAnimationNext>
                    </TabAnimationSettings>
                    <TabItems>
                        <TabItem CssClass="m-tab-item">
                            <ChildContent>
                                <TabHeader Text="Shop Supplies"></TabHeader>
                            </ChildContent>
                            <ContentTemplate>
                                <div class="m-tab-content-border">
                                    <div class="m-tab-content">
                                        <div class="form-row">
                                            <div class="form-group col col-6">
                                                <div>
                                                    <label class="m-label" for="percentage">Percentage</label>
                                                </div>
                                                <TelerikNumericTextBox @bind-Value="SaleCode.ShopSupplies.Percentage"
                                                                       Format="#0.00'%'"
                                                                       Decimals=3
                                                                       Arrows="false"
                                                                       Width="35%"
                                                                       Id="percentage">
                                                </TelerikNumericTextBox>
                                            </div>
                                            <div class="form-group col col-6">
                                                <div>
                                                    <label class="m-label">Minimum Job Amount</label>
                                                </div>
                                                <TelerikNumericTextBox @bind-Value="SaleCode.ShopSupplies.MinimumJobAmount"
                                                                       Format="C"
                                                                       Arrows="false"
                                                                       Width="50%">
                                                </TelerikNumericTextBox>
                                            </div>

                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col col-6">
                                                <div>
                                                    <label class="m-label">Minimum Charge</label>
                                                </div>
                                                <TelerikNumericTextBox @bind-Value="SaleCode.ShopSupplies.MinimumCharge"
                                                                       Format="C"
                                                                       Arrows="false"
                                                                       Width="50%">
                                                </TelerikNumericTextBox>
                                            </div>
                                            <div class="form-group col col-6">
                                                <div>
                                                    <label class="m-label">Maximum Charge</label>
                                                </div>
                                                <TelerikNumericTextBox @bind-Value="SaleCode.ShopSupplies.MaximumCharge"
                                                                       Format="C"
                                                                       Arrows="false"
                                                                       Width="50%">
                                                </TelerikNumericTextBox>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col col-6">
                                                <TelerikCheckBox Id="includeParts" @bind-Value="SaleCode.ShopSupplies.IncludeParts" />
                                                <label class="m-label" for="includeParts">Apply To Parts Charge</label>
                                            </div>
                                            <div class="form-group col col-6">
                                                <TelerikCheckBox Id="includeLabor" @bind-Value="SaleCode.ShopSupplies.IncludeLabor" />
                                                <label class="m-label" for="includeLabor">Apply To Labor Charge</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ContentTemplate>
                        </TabItem>
                        <TabItem CssClass="m-tab-item">
                            <ChildContent>
                                <TabHeader Text="Royalty"></TabHeader>
                            </ChildContent>
                            <ContentTemplate>
                                <div class="m-tab-content-border">
                                    <div class="m-tab-content">
                                        <div class="form-group">
                                            @*<div>
                                            <label class="m-label">On Hand</label>
                                            </div>
                                            <TelerikNumericTextBox @bind-Value="Item.QuantityOnHand"
                                            Decimals="2"
                                            Arrows="false"
                                            Width="20%">
                                            </TelerikNumericTextBox>*@
                                        </div>
                                    </div>
                                </div>
                            </ContentTemplate>
                        </TabItem>
                    </TabItems>
                </SfTab>
            </div>
        </div>

        <SaveDiscardButtons OnSave="OnSave" OnDiscard="OnCancel" ShowDivider="false" />

    </WindowContent>
</TelerikWindow>

<style>
    .dialog-button {
        margin-right: 0.7rem;
    }

    .form-group {
        margin-bottom: .5rem !important;
    }

    .e-tab.e-background .e-tab-header .e-toolbar-item .e-tab-text {
        color: black !important;
        font-size: 1rem !important;
    }

    .e-tab.e-background .e-tab-header .e-toolbar-item.e-active .e-tab-wrap {
        background: var(--bg-color-medium) !important;
        color: white !important;
        border-radius: 0.25rem 0.25rem 0 0;
    }

    .e-tab .e-tab-header.e-vertical {
        max-width: unset;
    }

</style>