@using Syncfusion.Blazor.Inputs
@using Telerik.Blazor.Components
@using Syncfusion.Blazor.DropDowns

<TelerikWindow Visible="true"
               Modal="true"
               Width="500px"
               Class="popupWindowClass">
    <WindowTitle>
        @Title
    </WindowTitle>
    <WindowContent>
			<div class="form-row">
				<div class="form-group col col-12">
					<label class="m-label" for="name">Tax Name</label>
					<input type="text" class="form-control" id="name" autocomplete="off" onfocus="this.select();" @bind-value="SalesTax.Description">
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col col-12 col-md-4">
					@if (TaxTypeList != null)
					{
						<label class="m-label" for="taxType">Tax Type</label>
						<SfDropDownList TValue="SalesTaxType"
									TItem="TaxTypeListItem"
									PopupHeight="230px"
									DataSource="@TaxTypeList"
									@bind-Value="@SalesTax.TaxType">
							<DropDownListFieldSettings Text="Text" Value="Value" />
						</SfDropDownList>
					}
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col col-12">
					<label class="m-label" for="taxId">Tax Identification Number</label>
					<input type="text" class="form-control" id="taxId" autocomplete="off" @bind-value="SalesTax.TaxIdNumber">
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col col-12 col-md-4">
						<label class="m-label" for="partsRate">Parts Rate</label>
						<TelerikNumericTextBox @bind-Value="SalesTax.PartTaxRate"
										   Format="#0.00#'%'"
                                           Decimals=3
										   Id="partsRate"
										   Arrows="false">
						</TelerikNumericTextBox>
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col col-12 col-md-4">
						<label class="m-label" for="laborRate">Labor Rate</label>
						<TelerikNumericTextBox @bind-Value="SalesTax.LaborTaxRate"
										   Format="#0.00#'%'"
                                           Decimals=3
										   Id="laborRate"
										   Arrows="false">
						</TelerikNumericTextBox>
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col col-12">
					<TelerikCheckBox Id="byDefault" @bind-Value="SalesTax.IsAppliedByDefault" />
					<label class="m-label" for="byDefault">Tax Applied By Default</label>
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col col-12">
					<TelerikCheckBox Id="taxable" @bind-Value="SalesTax.IsTaxable" />
					<label class="m-label" for="taxable">Taxable</label>
				</div>
			</div>

			<SaveDiscardButtons OnSave="@OnSave" OnDiscard="@OnCancel" />

    </WindowContent>
</TelerikWindow>

<style>
    .dialog-button {
        margin-right: 0.7rem;
    }

    .form-group {
        margin-bottom: .5rem !important;
    }
</style>