@page "/inspections"
@using Microsoft.AspNetCore.Authorization

@*<InspectionsMenu />*@

@attribute [Authorize(Policy = Policies.IsAuthenticated)]

<h1>This Page is working</h1>
<p>for authenticated users only</p>