@page "/payables/vendors/{id:long}"

@using Menominee.Client.Components.Payables

@if (Vendor != null)
{
    <div class="m-main-content">
        <VendorEditor Vendor="@Vendor" FormMode="@FormMode" OnValidSubmit="@Save" OnDiscard="@Discard" />
    </div>
}