@page "/payables/invoices/{id:long}"
@using Menominee.Client.Components.Payables

@*<PayablesMenu />*@

@if (Invoice is not null)
{
    <div class="m-main-content m-boxshadow">
        <VendorInvoiceEditor Invoice="Invoice" OnValidSubmit="Save" OnDiscard="Discard" />
    </div>
}