@page "/customers"
@using Telerik.FontIcons
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
@*<CustomersMenu />*@

<div class="grid-display pt-5">
    <Card Title="@Caption">
        <Content>
            @if (Customers == null && FormMode == FormMode.View)
            {
                <p><em>Loading...</em></p>
                <img src="/assets/loader-blue-purple.gif" />
            }
            @if (Customers?.Count == 0 && FormMode == FormMode.View)
            {
                <div class="pb-3">
                    <TelerikButton OnClick="Add"
                                   ThemeColor="primary"
                                   Icon="@FontIcon.Plus"
                                   title="Add New Customer">
                        Add Customer
                    </TelerikButton>
                </div>
            }
            @if (FormMode == FormMode.View && Customers?.Count > 0)
            {
                <CustomersGrid CustomersList="Customers"
                               OnAddAsync="Add"
                               OnRowClicked="EditAsync"></CustomersGrid>
            }
            @if ((FormMode == FormMode.Add || FormMode == FormMode.Edit && Customer is not null))
            {
                @if (Customer?.Person is null && Customer?.Business is null)
                {
                    <img src="/assets/loader-blue-purple.gif" />
                }
                <CustomerEditor Customer="@Customer"
                                FormMode="@FormMode"
                                OnDiscard="Close"
                                OnSave="Submit">
                </CustomerEditor>
            }

        </Content>
    </Card>
</div>
<style>
    .k-label {
        margin-bottom: .2rem !important;
    }

    .grid-display {
        display: grid;
    }

    .editor {
        padding: 1rem;
    }
</style>
