@page "/repairorders/ro/{id:long}"

@*<RepairOrderEditMenu />*@
@if (repairOrderToEdit != null)
{
    <div class="m-main-content">
        <RepairOrderForm
            @bind-RepairOrderToEdit="repairOrderToEdit"
            OnSave="Save"
            OnDiscard="Discard" />
    </div>
}
