@page "/repairorders/ro/{id:long}"

<RepairOrderEditMenu />
@if (RepairOrder != null)
{
    <div class="m-main-content">
        <RepairOrderForm RepairOrder="RepairOrder"
                         OnSave="Save"
                         OnDiscard="Discard"
                         Id="Id"/>
    </div>
}
