<div class="card">
    @if (Title.Length > 0)
    {
        <div class="m-card-title">
            @if (Collapsible)
            {
                <span @onclick="ToggleExpanded">
                    <TelerikFontIcon Icon="@FontIcon.CaretAltDown" Flip=@(Collapsed ? IconFlip.None : IconFlip.Vertical) />
                </span>
            }
            @Title
        </div>
    }
    @if (!Collapsed)
    {
        <div class="m-card-content @CardColor()">
            @Content
        </div>
    }
</div>

<style>

    .m-card-title {
        color: white !important;
        background-color: var(--bg-color-dark) !important;
        padding: .5rem .5rem !important;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        margin-bottom: 0;
        font-weight: bold;
        height: 36px;
    }

    .m-card-content {
        padding: 1rem;
        height: 100%;
        /*background-color: var(--bg-color-extra-light);*/
    }

    .m-toggle-button {
        color: white !important;
        background-color: var(--bg-color-dark) !important;
        height: 1rem;
    }

    .m-card-bg-white {
        background-color: white;
    }

    .m-card-bg-extra-light {
        background-color: var(--bg-color-extra-light);
    }

    .m-card-bg-light {
        background-color: var(--bg-color-light);
    }

    .m-card-bg-medium {
        background-color: var(--bg-color-medium);
    }

    .m-card-bg-dark {
        background-color: var(--bg-color-dark);
    }

    .m-card-bg-extra-dark {
        background-color: var(--bg-color-extra-dark);
    }

    .card {
        box-shadow: 3px 3px 5px lightgray;
        /*border-color: gray;*/
        border-radius: 0.25rem;
    }

</style>