<div>
    <hr class="m-btn-group-divider">
    <div>
        @if (ShowDone)
        {
            <button class="btn btn-primary m-button" @onclick="OnDone"><i class="fas fa-check"></i> Done</button>
        }
        @if (ShowEdit)
        {
            <button class="btn m-button m-edit-btn" @onclick="OnEdit" disabled="@(CanEdit ? false : true)"><i class="fas fa-edit"></i> Edit</button>
        }
        @if (ShowNew)
        {
            <button class="btn m-button m-add-btn" @onclick="OnNew" disabled="@(CanAdd ? false : true)"><i class="fas fa-plus"></i> New</button>
        }
        @if (ShowDelete)
        {
            <button class="btn m-button m-delete-btn" @onclick="OnDelete" disabled="@(CanDelete ? false : true)"><i class="fas fa-trash"></i> Delete</button>
        }
        @if (ShowPrint)
        {
            <button class="btn m-button m-generic-btn" @onclick="OnPrint" disabled="@(CanPrint ? false : true)"><i class="fas fa-print"></i> Print</button>
        }
    </div>
</div>

<style>
</style>
