<div>
    <hr class="m-save-discard-divider">
    <div>
        <button class="btn btn-primary m-button" type="submit" @onclick="OnSave">Save</button>
        <button class="btn btn-secondary m-button" @onclick="OnDiscard">Discard</button>
    </div>
</div>

<style>
    .m-save-discard-divider {
        margin-top: 1em;
        margin-bottom: 1em;
        border-color: darkgrey;
    }

</style>