@page "/inventory/items/{ItemId:long}"

@using Menominee.Client.Components.Inventory

<InventoryMenu />

@*@if (Item != null)
{
    <div class="m-main-content">
        <InventoryItemForm Item="Item" OnValidSubmit="Save" OnDiscard="Discard" />
    </div>
}*@
