@page "/inventory/tires/{ItemId:long}"

<InventoryMenu />

@if (Item != null)
{
    <div class="m-main-content">
        <InventoryTireForm Item="Item" OnValidSubmit="Save" OnDiscard="Discard" />
    </div>
}
