<div class="form-group row">
    <label for="name" class="k-label">Name</label>
    <TelerikTextBox @bind-Value="@Business.Name"
                    Id="name"
                    Width="100%">
    </TelerikTextBox>
</div>
<div class="form-group row">
    <label for="note" class="k-label">Notes</label>
    <TelerikTextBox @bind-Value="@Business.Notes"
                    Id="note"
                    Width="100%">
    </TelerikTextBox>
</div>
<style>
</style>