<EditForm Model="@Business">

    <BusinessEditor Business="@Business"
                        Enabled="true"
                        FormMode="FormMode" />

    <TelerikGridLayout>
        <GridLayoutColumns>
            <GridLayoutColumn Width="30%"></GridLayoutColumn>
            <GridLayoutColumn Width="35%"></GridLayoutColumn>
            <GridLayoutColumn Width="35%"></GridLayoutColumn>
        </GridLayoutColumns>
        <GridLayoutRows>
            <GridLayoutRow></GridLayoutRow>
        </GridLayoutRows>
        <GridLayoutItems>
            <GridLayoutItem>
                <BusinessAddressEditor Business="@Business" />
            </GridLayoutItem>
            <GridLayoutItem>
                <PhonesEditor Phones="@Business?.Phones"></PhonesEditor>
            </GridLayoutItem>
            <GridLayoutItem>
                <EmailsEditor Emails="@Business?.Emails"></EmailsEditor>
            </GridLayoutItem>
        </GridLayoutItems>
    </TelerikGridLayout>

    <div class="pt-4">
        <EditFormButtons Close="Close"
                         Save="Save"
                         EnableSave="true">
        </EditFormButtons>
    </div>
</EditForm>

@code {
    [Parameter] public BusinessToWrite Business { get; set; }
    [Parameter] public FormMode FormMode { get; set; }
    [Parameter] public EventCallback Close { get; set; }
    [Parameter] public EventCallback Save { get; set; }
}
