<form>
    <div class="form-row">
        <div class="form-group col">
            <label for="custName">Name</label>
            <div class="input-group">
                <input type="text" class="form-control" value="@RepairOrderToEdit?.Customer?.Business.Name && @RepairOrderToEdit?.Customer?.Person.Name" disabled id="custName">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="form-row m-align-bottoms">
        <div class="form-group col-12 col-lg-7">
            <label for="phone">Contact Phone</label>
            <div class="input-group">
                <input type="text" class="form-control" disabled id="phone">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button"><i class="fas fa-list"></i></button>
                </div>
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>
        <div class="form-group col-12 col-lg-5">
            <label for="arAcct">A/R Account</label>
            <div class="input-group">
                <input type="text" class="form-control" disabled id="arAcct">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="form-row m-align-bottoms">
        <div class="form-group col-12 col-lg-7">
            <label for="email">Email</label>
            <div class="input-group">
                <input type="email" class="form-control" disabled id="email">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button"><i class="fas fa-envelope"></i></button>
                </div>
            </div>
        </div>
        <div class="form-group col-12 col-lg-5">
            <label for="custId">Customer ID</label>
            <div class="input-group">
                <input type="text" class="form-control" disabled id="custId">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="form-row m-align-bottoms">
        <div class="form-group col-md-6 col-lg-4">
            <label for="lastInvDate">Last Invoice Date</label>
            <input type="text" class="form-control" id="lastInvDate" disabled>
        </div>
        <div class="form-group col-md-6 col-lg-4">
            <label for="invCount">Lifetime Invoices</label>
            <input type="text" class="form-control" id="invCount" disabled>
        </div>
        <div class="form-group col-md-6 col-lg-4">
            <label for="avgInv">Average Invoice</label>
            <input type="text" class="form-control" id="avgInv" disabled>
        </div>
    </div>
</form>

<hr class="m-btn-divider-top">

<div class="row m-btn-row m-btn-gap">
    <button class="btn m-button m-edit-btn" aria-pressed="false" @onclick="EditCustomer" disabled="@(!CanEdit)"><i class="fas fa-edit"></i> Edit</button>
    <button class="btn m-button m-add-btn" @onclick="AddCustomer"><i class="fas fa-plus"></i> Add</button>
    <button class="btn m-button m-generic-btn">Family</button>
    <button class="btn m-button m-generic-btn">Notes</button>
    <button class="btn m-button m-generic-btn">History</button>
    <button class="btn m-button m-generic-btn">A/R Status</button>
</div>

<style>
</style>