<div class="m-purchases-tab">
    <div>
        <Card Title="Purchases">
            <Content>
                <RepairOrderPurchases Purchases="Purchases" />
            </Content>
        </Card>
    </div>
</div>

<style>
    .m-purchases-tab {
        display: grid;
    }

</style>