<div id="services-tab">
    <div>
        <Card Title="Services">
            <Content>
                <RepairOrderServices Services="@Services" />
                <div>
                    <hr class="m-btn-group-divider">

                    <div>
                        <button class="btn m-button m-add-btn" @onclick="OnAddPart" disabled="@(CanAddPart ? false : true)"><i class="fas fa-plus"></i> Add Part</button>
                        <button class="btn m-button m-add-btn" @onclick="OnAddLabor" disabled="@(CanAddLabor ? false : true)"><i class="fas fa-plus"></i> Add Labor</button>
                    </div>
                </div>
            </Content>
        </Card>
    </div>
</div>

<style>

/*    #inspection-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    @@media (max-width:1200px) {
        #inspection-cards {
            grid-template-columns: 1fr;
        }
    }
*/</style>