<div class="cust-veh-cards">
    <div>
        <Card Title="Customer">
            <Content>
                <RepairOrderCustomer @bind-RepairOrderToEdit="BoundRepairOrderToEdit"
                                     OnAdd="AddCustomer"
                                     OnEdit="EditCustomer"
                                     OnCustomerLookup="LookupCustomer" />
            </Content>
        </Card>
    </div>
    <div>
        <Card Title="Vehicle">
            <Content>
                <RepairOrderVehicle @bind-RepairOrderToEdit="BoundRepairOrderToEdit"
                                    OnAdd="AddVehicle"
                                    OnEdit="EditVehicle"
                                    OnLookup="LookupVehicle" />
            </Content>
        </Card>
    </div>
</div>

@if ((EditVehicleFormMode.Equals(FormMode.Add) || EditVehicleFormMode.Equals(FormMode.Edit)) && RepairOrderToEdit is not null)
{
    <VehicleEditor Vehicle="RepairOrderToEdit.Vehicle"
                   FormMode="EditVehicleFormMode"
                   OnSave="SaveVehicle"
                   OnDiscard="DiscardVehicle" />
}

@if (VehicleLookupMode != VehicleLookupMode.Unknown && RepairOrderToEdit is not null)
{
    <VehicleLookup CustomerId="RepairOrderToEdit.Customer?.Id ?? 0"
                   LookupMode="VehicleLookupMode"
                   OnSelect="SelectVehicle"
                   OnCancel="CancelVehicleLookup" />
}

@if ((EditCustomerFormMode.Equals(FormMode.Add) || EditCustomerFormMode.Equals(FormMode.Edit)) && RepairOrderToEdit is not null)
{
    <CustomerEditor Customer="RepairOrderToEdit.Customer"
                   FormMode="EditCustomerFormMode"
                   OnSave="SaveCustomer"
                   OnDiscard="DiscardCustomer" />
}

<style>
    .cust-veh-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    @@media (max-width:768px) {
        .cust-veh-cards {
            grid-template-columns: 1fr;
        }
    }
</style>