
<EditForm Model="Payment">
    <TelerikWindow Visible="DialogVisible"
                   Modal="true"
                   Class="popupWindowClass">
        <WindowTitle>
            @Title
        </WindowTitle>
        <WindowContent>
            @*<div class="container">*@
            <div>
                <label class="form-control-label">Payment Method</label>
                <div class="m-form-control-group" for="paymentMethod">
                    <TelerikDropDownList @bind-Value="@Payment.PaymentMethod"
                                         Data="PayTypeEnumData"
                                         Width="100%"
                                         TextField="DisplayText"
                                         ValueField="Value"
                                         Id="paymentMethod">
                    </TelerikDropDownList>
                </div>

                <label class="form-control-label" for="amount">Amount</label>
                <div class="m-form-control-group">
                    <TelerikNumericTextBox @bind-Value="@Payment.Amount"
                                           Width="100%"
                                           Format="C"
                                           Decimals="2"
                                           Arrows="false"
                                           Id="amount">
                    </TelerikNumericTextBox>
                </div>
            </div>
            <hr id="divider">
            <div>
                <TelerikButton OnClick="OnSave"
                               ButtonType="ButtonType.Button"
                               Primary="true"
                               Class="dialog-button">
                    <i class="fas fa-check"></i> OK
                </TelerikButton>
                <TelerikButton OnClick="OnCancel"
                               ButtonType="ButtonType.Button"
                               Class="dialog-button">
                    <i class="fas fa-times"></i> Cancel
                </TelerikButton>
            </div>
        </WindowContent>
    </TelerikWindow>

</EditForm>

<style>
    #divider {
        margin-top: 1em;
        border-color: darkgrey;
    }

    .dialog-button {
        margin-right: 0.7rem;
    }

    .popupWindowClass .k-dialog-titlebar.k-header.k-window-titlebar { /* targets the entire titlebar */
        background: #274c77;
        color: white;
    }

    .m-form-control-group {
        margin-bottom: 1rem;
    }
</style>