<div id="services-tab">
    <div>
        <Card Title="Services">
            <Content>
                <RepairOrderServices Services="@Services" />
            </Content>
        </Card>
    </div>
</div>

<style>

/*    #inspection-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    @@media (max-width:1200px) {
        #inspection-cards {
            grid-template-columns: 1fr;
        }
    }
*/</style>