@page "/authentication/{action}"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
<RemoteAuthenticatorView Action="@Action">
    <LoggingIn>
        <div class="h-100 row align-items-center w-50 mx-auto">
            <TelerikLoader Type="@LoaderType.ConvergingSpinner"
                           Size="@ThemeConstants.Loader.Size.Large"
                           ThemeColor="@ThemeConstants.Loader.ThemeColor.Tertiary" />
        </div>
    </LoggingIn>
</RemoteAuthenticatorView>


@code{
    [Parameter] public string Action { get; set; }
}
