@page "/authentication/{action}"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
<RemoteAuthenticatorView Action="@Action">
    <LoggingIn>
        <h5>Please wait...</h5>
    </LoggingIn>
</RemoteAuthenticatorView>


@code{
    [Parameter] public string Action { get; set; }
}
