@page "/authentication/{action}"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
<RemoteAuthenticatorView Action="@Action">
    <LoggingIn>
        <h4>Please wait...</h4>
    </LoggingIn>
    </RemoteAuthenticatorView>


    @code{
        [Parameter] public string Action { get; set; }
    }
