@page "/authentication/{action}"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
<RemoteAuthenticatorView Action="@Action">
    <LoggingIn>
        <div class="h-100 row align-items-center w-50 mx-auto">
            <TelerikLoader Size="@LoaderSize.Large" Type="@LoaderType.ConvergingSpinner" ThemeColor="@ThemeColors.Tertiary" />
        </div>
    </LoggingIn>
</RemoteAuthenticatorView>


@code{
    [Parameter] public string Action { get; set; }
}
