@page "/"

<div class="logo-container">
    <img class="img-fluid" src="/assets/panda-mail.jpg">
</div><style>
    .logo-container {
        display: flex;
        height: calc(100vh - 62px);
        width: 75%;
        justify-content: center;
        align-items: center;
    }
</style>