@page "/"

<div class="logo-container">
    <img src="/assets/Licketysplitlogo.jpg">
</div>

<style>
    .logo-container {
        display: flex;
        /*height: calc(100vh - 57px);*/
        /*width: 80%;*/
        height: calc(100vh - 75px);
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    img {
/*        max-width: 70%;
        max-height: 70%;*/        
        max-width: 90%;
        max-height: 90%;
        margin: auto;
/*        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;*/
    }
</style>