@page "/persons/total"

@if (Total == 0)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <p>PersonsTotal page of <strong>Menominee</strong></p>
    </div>
    <div>Total Persons: @Total</div>
}
@code {

}

