@page "/products"

<div class="container">
    <h3>Products</h3>
    <div class="list-group">
        <a href="#" class="w-75 list-group-item list-group-item-action">
            <span class="font-weight-bold">StockTrac &nbsp;</span>
            <span class="font-italic">Complete shop management</span>
        </a>
        <a href="#" class="w-75 list-group-item list-group-item-action">
            <span class="font-weight-bold">MVConnect &nbsp;</span>
            <span class="font-italic">Your hub for every vendor so you can easily find everything for your shop</span>
        </a>
        <a href="#" class="w-75 list-group-item list-group-item-action">
            <span class="font-weight-bold">InSpec &nbsp;</span>
            <span class="font-italic">Quickly and easily inspect vehicles to get your work started faster</span>
        </a>
        <a href="#" class="w-75 list-group-item list-group-item-action">
            <span class="font-weight-bold">TireTools &nbsp;</span>
            <span class="font-italic">Manage everything tire related in one place</span>
        </a>
    </div>
</div>
@code {

}
