<header class="header">
    <div class="header-list">
        <img src="/assets/logo-image.jpg"
             class="header-logo rounded mr-3"
             title="Jane's Automotive" />
        <div class="d-inline-flex">
            <span class="pt-3 pr-3 font-weight-bold"><span class="text-danger">Master</span><span class="text-white">Tech</span></span>
            <span class="pt-3"><span class="text-white h4">Shop Management System</span></span>
        </div>
    </div>
    <TelerikMenu Data="@MenuData"
                 Orientation="MenuOrientation.Horizontal"
                 Class="header-list">
    </TelerikMenu>
    <div class="login-display">
        <LoginDisplay />
    </div>
</header>
<style>
    .header-logo {
        height: 48px;
        width: 48px;
    }

    .header {
        background-color: #899BC4;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        min-width: 100vw;
    }

    .header-list {
        flex-grow: 1;
        flex-shrink: 0;
    }
    /* Telerik menu item color*/
        .header-list.k-menu .k-item {
            color: #EDE8DC;
        }

    .login-display {
        float: right;
        padding-left: 1em;
        padding-right: 1em;
        margin-left: 1em;
        margin-right: 1em;
    }
</style>