<header class="header">
    <div class="header-list">
        <img src="/assets/logo-image.jpg"
             class="header-logo rounded"
             title="Jane's Automotive" />
    </div>
    <TelerikMenu Data="@MenuData"
                 Orientation="MenuOrientation.Horizontal"
                 Class="header-list">
    </TelerikMenu>
    <div class="login-display">
        <LoginDisplay />
    </div>
</header>
<style>
    .header-logo {
        height: 48px;
        width: 48px;
    }

    .header {
        background-color: #899BC4;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        min-width: 100vw;
    }

    .header-list {
        flex-grow: 1;
        flex-shrink: 0;
    }
        .header-list.k-menu .k-item {
            color: #EDE8DC;
        }

    .login-display {
        float: right;
        padding-left: 1em;
        padding-right: 1em;
        margin-left: 1em;
        margin-right: 1em;
    }
</style>