@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<div class="pt-3">
    <AuthorizeView>
        <Authorized>
            <p class="log-link">@context.User.Identity.Name</p>
            <a class="log-link"
               @onclick="BeginSignOut"
               title="Log out user"
               style="color: #EDE8DC">&nbsp; | &nbsp; Log out</a>
        </Authorized>
        <NotAuthorized>
            <a href="authentication/login"
               class="log-link"
               title="Log in to Menominee">Log in</a>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
<style>
    .log-link {
        color: #EDE8DC;
        display: inline;
    }
</style>