@layout TelerikLayout
@inherits LayoutComponentBase
<BlazoredToasts />
<TelerikRootComponent>
    <div class="site">
        <div class="flex-container">
            <Header />
        </div>
        <div class="flex-container column-container">
            <div class="side-nav">
                <NavMenu />
            </div>
            <div class="body pt-2">
                @Body
            </div>
        </div>
    </div>
</TelerikRootComponent>

<style>
    .site {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    .flex-container {
        display: flex;
    }

    .column-container {
        flex-direction: row;
    }

    .side-nav {
        display: flex;
        flex-grow: 1;
        min-height: 90vh;
    }

    .body {
        flex-grow: 9;
    }
</style>
