@*@using Microsoft.AspNetCore.Components.Authorization*@
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject IAccessTokenProvider TokenProvider
<div class="top-row pl-4 navbar navbar-dark">
    <button class="" @onclick="WriteToken">
        <span>Write Token</span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="persons">
                <span class="oi oi-list" aria-hidden="true"></span> Persons
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="organizations">
                <span class="oi oi-list" aria-hidden="true"></span> Organizations
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="customers">
                <span class="oi oi-list" aria-hidden="true"></span> Customers
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task WriteToken()
    {
        var tokenResult = await TokenProvider.RequestAccessToken();
        if (tokenResult.TryGetToken(out var token))
            Console.WriteLine(token.Value);
    }
}
