@page "/settings/customsettings"

@using Menominee.Client.Components.Settings

<SettingsMenu />

@*@if (customSettings != null)
{
    <div class="m-main-content">
        <div class="ui form">
            <EditForm Model="@customSettings">
                <h3 class="m-bordered-form-header">Custom Settings</h3>
                <div class="m-bordered-form">
                </div>
            </EditForm>
        </div>
    </div>
}

<style>

    .m-no-pad-top-left {
        padding-top: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .e-content .e-item {
        font-size: 12px;
        padding: 10px;
        text-align: justify;
    }

    @@media screen and (max-width: 425px) {
        .tab-adaptive {
            overflow: hidden;
        }

            .tab-adaptive .e-content {
                height: inherit !important;
            }

            .tab-adaptive .e-item.e-active {
                overflow: scroll;
            }
    }

    .ui.segment {
        border: 1px solid grey;
    }
</style>*@
