@page "/persons"

@attribute [Microsoft.AspNetCore.Authorization.Authorize
(CustomerVehicleManagement.Shared.Policies.CanManageHumanResources)]

<div class="container">
    <div class="h5">Persons</div>

    @if (PersonFormMode != FormMode.Add && PersonFormMode != FormMode.Edit)
    {
        @if (Persons != null)
        {
            <div class="pb-3">
                <TelerikButton OnClick="Add"
                               ThemeColor="primary"
                               Icon="plus"
                               title="Add New Person">
                    Add Person
                </TelerikButton>
            </div>

            <PersonsGrid Persons="Persons"
                         OnRowClicked="@EditAsync" />
        }
    }

    @if ((PersonFormMode == FormMode.Add || PersonFormMode == FormMode.Edit) && PersonToWrite != null)
    {
        <EditForm Model="@PersonToWrite">

            <PersonEditor Person="@PersonToWrite"
                          Enabled="true"
                          FormMode="PersonFormMode" />

            <TelerikGridLayout Class="mt-2">
                <GridLayoutColumns>
                    <GridLayoutColumn Width="30%"></GridLayoutColumn>
                    <GridLayoutColumn Width="35%"></GridLayoutColumn>
                    <GridLayoutColumn Width="35%"></GridLayoutColumn>
                </GridLayoutColumns>
                <GridLayoutRows>
                    <GridLayoutRow></GridLayoutRow>
                </GridLayoutRows>
                <GridLayoutItems>
                    <GridLayoutItem>

                        <PersonAddressEditor Person="@PersonToWrite"/>

                    </GridLayoutItem>
                    <GridLayoutItem>
                        <PhonesEditor Phones="@PersonToWrite?.Phones"></PhonesEditor>
                    </GridLayoutItem>
                    <GridLayoutItem>
                        <EmailsEditor Emails="@PersonToWrite?.Emails"></EmailsEditor>
                    </GridLayoutItem>
                </GridLayoutItems>
            </TelerikGridLayout>

            <div class="pt-4">
                <EditFormButtons Close="EndAddEditAsync"
                                 Save="SubmitHandlerAsync"
                                 EnableSave="true">
                </EditFormButtons>
            </div>
        </EditForm>
    }
</div>
<style>
    .dialog-button {
        margin-right: 0.7rem;
    }
</style>