@page "/persons"
@using Telerik.FontIcons
@using Menominee.Shared

@attribute [Microsoft.AspNetCore.Authorization.Authorize
(Policies.CanManageHumanResources)]

<div class="container">
    <div class="h5">Persons</div>

    @if (PersonFormMode != FormMode.Add && PersonFormMode != FormMode.Edit)
    {
        @if (Persons != null)
        {
            <div class="pb-3">
                <TelerikButton OnClick="Add"
                               ThemeColor="primary"
                               Icon="@FontIcon.Plus"
                               title="Add New Person">
                    Add Person
                </TelerikButton>
            </div>

            <PersonsGrid Persons="Persons"
                         OnRowClicked="@EditAsync" />
        }
    }

    @if ((PersonFormMode == FormMode.Add || PersonFormMode == FormMode.Edit) && Person != null)
    {
        <PersonContactableEditor Person="Person"
                                 FormMode="PersonFormMode"
                                 Save="SubmitHandlerAsync"
                                 Close="EndAddEditAsync"/>
    }
</div>
<style>
    .dialog-button {
        margin-right: 0.7rem;
    }
</style>