@typeparam TItem

<table class="table table-hover table-borderless table-sm table-responsive">
    <thead>
        <tr>
            @TableHeader
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Items)
        {
            <tr class="edit-row" @key="item" @onclick="() => EditAsync(item)">
                @RowTemplate(item)
                <td class="edit-icon">
                    <TelerikFontIcon Icon="@FontIcon.Pencil" />
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    .edit-row:hover .edit-icon {
        visibility: visible;
    }

    .edit-icon {
        visibility: hidden;
    }
</style>