.sb-header {
    height: 50px;
    background: #6096ba;
    box-shadow: 0 8px 11px -6px rgb(0 0 0 / 12%);
    z-index: 20;
}

.e-view {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}

.sb-header div, .sb-header span {
    outline: none;
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
}

.sb-header div, .sb-header span {
    outline: none;
}

.sb-header-left, .sb-header-right {
    height: 100%;
}

.sb-table {
    display: table;
}

.sb-left {
    float: left;
}

.sb-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.sb-right {
    float: right;
}

#sb-header-text {
    padding-left: 22px;
    font-size: 18px;
    color: white;
    font-family: "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif";
    opacity: 87%;
}

.e-icons::before {
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.menu-control {
    margin: 45px auto 0;
    text-align: center;
}

.e-menu-wrapper ul, .e-menu-container ul {
    background-color: #6096ba;
    color: white;
}

.e-menu-container {
    vertical-align: middle;
}

.m-brand {
    padding-left: 20px;
    padding-right: 20px;
}

.m-hover-white:hover {
    color: white !important;
}

.m-menu-item, .m-menu-item .e-caret {
    color: #dedede !important;
}

    .m-menu-item:hover, .m-menu-item .e-caret:hover {
        color: white !important;
    }

.m-menu-sub-item {
    color: black;
}

.m-inventory-icon::before {
    content: '\e10b';
}

.m-payables-icon::before {
    content: '\e10b';
}

.m-settings-icon::before {
    content: '\e10b';
}

