<h4>AddressEdit</h4>

<!--<EditForm Model="Address">



    <div class="pad-bottom">
        <label for="address">Address: </label>
        <InputText id="address" @bind-Value="@AddressLine" placeholder="address"></InputText>
    </div>

    <div class="pad-bottom">
        <label for="city">City: </label>
        <InputText id="city" @bind-Value="@AddressCity" placeholder="city"></InputText>
    </div>

    <div class="pad-bottom">
        <label for="state">State: </label>
        <InputSelect id="state" class="form-control selectpicker col-sm-8" @bind-Value=Customer.AddressState>
            <option>--select state--</option>-->
            @*@foreach (var state in StatesList)
                {
                <option value="@state.Abbreviation">@state.Name</option>
                }*@
        <!--</InputSelect>
    </div>
</EditForm>-->