@if (((int)Emails.Count()) > 0)
{
    <label class="small">Emails</label>
    <ContactableTemplate Items="Emails"
                         TItem="EmailUpdateDto"
                         Context="email">
        <TableHeader>
            <th>Address</th>
            <th>Primary</th>
        </TableHeader>
        <RowTemplate>
            <td>
                <InputText class="form-control" @bind-Value="@email.Address" />
            </td>
            <td>
                <InputCheckbox @bind-Value="email.IsPrimary" />
            </td>
        </RowTemplate>
    </ContactableTemplate>
}
@*<div class="d-flex flex-row">
    <button class="btn btn-sm btn-success mr-1" @onclick="Add">
        <span class="oi oi-plus" title="Add Organization Email" aria-hidden="true"></span>
    </button>
    <span class="small ml=1">Add Email</span>
</div>*@
