@if (FormMode == FormMode.Add)
{
    <h4>Add Mode</h4>
}

@if (FormMode == FormMode.Edit)
{
    <h4>Edit Mode</h4>
    <div class="container-fluid">
        <EditForm Model="OrganizationToUpdate"
                  OnSubmit="HandleUpdateSubmit">

            @*<OrganizationTemplate Organization="OrganizationToUpdate" />*@

            <div class="form-group row">
                <button type="submit" class="btn btn-primary">
                    Save
                </button>
                <a class="btn btn-outline-primary ml-1" @onclick="() => Close(false)">
                    Close
                </a>
            </div>
        </EditForm>
    </div>
}