@if (((int)Phones.Count()) > 0)
{
    <div>
        <label class="small">Phones</label>
        <ContactableTemplate Items="Phones"
                             TItem="PhoneUpdateDto"
                             Context="phone">
            <TableHeader>
                <th>Number</th>
                <th>Type</th>
                <th>Primary</th>
            </TableHeader>
            <RowTemplate>
                <td>
                    <InputText @bind-Value="@phone.Number" />
                </td>
                <td>
                    <InputSelect class="form-control selectpicker" @bind-Value="@phone.PhoneType">
                        @foreach (var type in Enum.GetValues(typeof(PhoneType)))
                            {
                            <option value="@type">@type</option>
                            }
                    </InputSelect>
                </td>
                <td>
                    <InputCheckbox @bind-Value="phone.IsPrimary" />
                </td>
            </RowTemplate>
        </ContactableTemplate>
    </div>
}
else
{ <div class="d-flex flex-row">
        <button class="btn btn-sm btn-success mr-1" @onclick="Add">
            <span class="oi oi-plus" title="Add Organization Phone" aria-hidden="true"></span>
        </button>
        <span class="small">Add Phone</span>
    </div>
}