<div class="top-row pl-4 navbar navbar-light top-nav">
    <div>
        @*<AuthorizeView>
            <Authorized>
                <TenantHeader></TenantHeader>
            </Authorized>
        </AuthorizeView>*@
        <NoAuthTenantHeader></NoAuthTenantHeader>
    </div>
    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
        <img class="logo" src="./assets/logo.jpg" />
    </NavLink>
    <div>
        @*<AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <span class="small">@context.User.Identity.Name</span>
                    <NavLink class="nav-link" href="" @onclick="BeginSignOut">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Log out
                    </NavLink>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="authentication/login">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Log In
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="authentication/login">
                <span class="oi oi-account-login" aria-hidden="true"></span> Log In
            </NavLink>
        </div>*@


    </div>
</div>
