<AuthorizeView>
    <Authorized>
        <div class="d-inline-flex sideNav">
            <nav class="d-md-block sidebar collapse">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="pointofsale">
                                <span class="oi oi-bar-chart"></span>
                                Point-Of-Sale <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="sales">
                                <span class="oi oi-graph"></span>
                                Sales
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="inventory">
                                <span class="oi oi-clipboard"></span>
                                Inventory
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="persons">
                                <span class="oi oi-people"></span>
                                Customers
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="pricing">
                                <span class="oi oi-dollar"></span>
                                Pricing
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="accountsreceivable">
                                <span class="oi oi-spreadsheet"></span>
                                Accounts Receivable
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="vendors">
                                <span class="oi oi-aperture"></span>
                                Vendors
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="employees">
                                <span class="oi oi-badge"></span>
                                Employees
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="configuration">
                                <span class="oi oi-cog"></span>
                                Configuration
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </Authorized>
</AuthorizeView>
