@if (Payments == null)
{
    <p><em>Loading...</em></p>
}

@if (Payments != null && PaymentMethods != null)
{
    <TelerikGrid Data="Payments"
             OnRowClick="OnRowSelected"
             OnRowDoubleClick="OnEdit"
             Sortable="false"
             FilterMode="GridFilterMode.None"
             ShowColumnMenu="false"
             SelectionMode="GridSelectionMode.Single"
             @ref="Grid">
        <GridColumns>
            <GridColumn Field="PaymentMethod.Name"
                    Title="Payment Method"
                    Width="55%">
@*                <Template>
                    @{
                        <TelerikDropDownList @bind-Value="paymentMethodId"
                                     Data="PaymentMethods"
                                     TextField="Name"
                                     ValueField="Id"
                                     OnChange="OnPaymentMethodChange">
                        </TelerikDropDownList>
                    }
                </Template>*@

                @*<EditorTemplate>
            @{
            <TelerikDropDownList @bind-Value="Payment.PaymentMethod.Id"
            Data="PaymentMethods"
            TextField="Name"
            ValueField="Id">
            </TelerikDropDownList>
            }
            </EditorTemplate>*@

            </GridColumn>

            <GridColumn Width="35%"
                    Field="@nameof(Payment.Amount)"
                    Title="Amount"
                    DisplayFormat="{0:C}"
                    ShowColumnChooser="false"
                    Lockable="false"
                    ShowColumnMenu="false"
                    Sortable="false"
                    Filterable="false"
                    TextAlign="ColumnTextAlign.Right">
                @*                <Template>
            @{
            <TelerikNumericTextBox @bind-Value="Payment.Amount"
            Format="C"
            Decimals="2"
            Arrows="false">
            </TelerikNumericTextBox>
            }
            </Template>*@
                <EditorTemplate>
                    @{
                        <TelerikNumericTextBox @bind-Value="Payment.Amount"
                                       Format="C"
                                       Decimals="2"
                                       Arrows="false">
                        </TelerikNumericTextBox>
                    }
                </EditorTemplate>
            </GridColumn>
            <GridCommandColumn Width="117px"
                           Context="VendorInvoicePaymentToWrite">
                <GridCommandButton Command="_Balance"
                               IconClass="fas fa-arrow-left"
                               Size="sm"
                               Class="m-inline-button"
                               OnClick="OnInsertBalanceClick">
                    Balance
                </GridCommandButton>
            </GridCommandColumn>
        </GridColumns>
    </TelerikGrid>

    <EditNewDeleteIconButtons OnNew="Add" OnDelete="OnDelete" ShowDivider="false" />
}