@using Menominee.Client.Components.ReportViewer
<div class="form vendor-invoice-form">
    <Card Title="@Title" BackgroundColor="CardBackgroundColor.white">
        <Content>
            <div class="container-fluid m-container">
                <div class="row">
                    <CascadingValue Value="InvoiceTotals">
                        <CascadingValue Value="FormMode">
                            <div class="col col-12 col-md-9 col-lg-10 left-col">
                                <div>
                                    <Card Title="Invoice Information">
                                        <Content>
                                            <VendorInvoiceHeader Invoice="Invoice" />
                                        </Content>
                                    </Card>
                                </div>
                                <div>
                                    <Card Title="Items">
                                        <Content>
                                            <VendorInvoiceItems LineItems="Invoice.LineItems"
                                                OnCalculateTotals="CalculateTotals" />
                                        </Content>
                                    </Card>
                                </div>
                                <div class="tax-payment-row">
                                    <Card Title="Taxes">
                                        <Content>
                                            <VendorInvoiceTaxes Taxes="Invoice.Taxes"
                                                OnCalculateTotals="CalculateTotals" />
                                        </Content>
                                    </Card>
                                    <Card Title="Payments">
                                        <Content>
                                            <VendorInvoicePayments Payments="Invoice.Payments"
                                                OnCalculateTotals="CalculateTotals" />
                                        </Content>
                                    </Card>
                                </div>
                            </div>
                            <div class="col col-12 col-md-3 col-lg-2 totals-col">
                                <Card Title="Totals">
                                    <Content>
                                        <VendorInvoiceTotals />
                                    </Content>
                                </Card>
                            </div>
                        </CascadingValue>
                    </CascadingValue>
                </div>
            </div>

            <div>
                <hr class="m-save-discard-divider">
                <div class="row m-0">
                    @if (FormMode == FormMode.Edit || FormMode== FormMode.Add)
                    {
                        <button class="btn btn-primary m-button" type="submit" @onclick="OnSaveAndExit"><i class="fas fa-check"></i> Save</button>
                        <button class="btn btn-danger m-button" @onclick="OnDiscard"><i class="fas fa-rotate-left"></i> Discard</button>
                    }
                    else
                    {
                        <button class="btn btn-primary m-button" @onclick="OnDiscard"><i class="fas fa-check"></i> Done</button>
                    }
                    <div class="m-vertical-divider"></div>
                    @if (Invoice?.Status == VendorInvoiceStatus.Open && Invoice.LineItems?.Count > 0)
                    {
                        <button class="btn btn-secondary m-button" @onclick="OnCompleteAsync"><i class="fas fa-check"></i> @PostButtonText()</button>
                    }
                    @if (Invoice?.Status == VendorInvoiceStatus.Completed)
                    {
                        <button class="btn btn-secondary m-button" @onclick="OnRevertAsync">@UnpostButtonText()</button>
                    }
                    <button class="btn btn-secondary m-button" @onclick="OnPrint"><i class="fas fa-print"></i> Print</button>
                </div>
            </div>
        </Content>
    </Card>
</div>

@if (Printing)
{
    <ReportViewerForm ReportName="VendorInvoice.trdp" ReportParameters="@ReportParameters" OnDone="HideReport"/>
}

<style>
    .container-fluid.m-container {
        padding: 0 !important;
        margin: 0 !important;
    }

    .vendor-invoice-form {
        display: grid;
    }

    .left-col {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }

    .tax-payment-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    .totals-col {
        display: grid;
        padding-left: 0;
        grid-gap: 1rem;
    }

    .m-save-discard-divider {
        margin-top: 1em;
        margin-bottom: 1em;
        border-color: darkgrey;
    }

    .m-vertical-divider {
        border-left: 1px solid darkgrey;
        margin-right: .5rem;
    }

    @@media (max-width:767px) {
        .totals-col {
            padding: 1rem 1rem 0 1rem;
        }
    }

    @@media (max-width:991px) {
        .tax-payment-row {
            grid-template-columns: 1fr;
            padding: 0;
        }
    }
</style>
