<div class="form vendor-invoice-form">
    <Card Title="@Title" BackgroundColor="CardBackgroundColor.white">
        <Content>
            <div class="container-fluid m-container">
                <div class="row">
                    <div class="col col-12 col-md-9 col-lg-10 left-col">
                        <div>
                            <Card Title="Invoice Information">
                                <Content>
                                    <VendorInvoiceHeader Invoice="Invoice" />
                                </Content>
                            </Card>
                        </div>
                        <div>
                            <Card Title="Items">
                                <Content>
                                    <VendorInvoiceItems Items="Invoice.LineItems" />
                                </Content>
                            </Card>
                        </div>
                        <div class="tax-payment-row">
                            @*<div class="col col-12 col-md-6">*@
                            <Card Title="Taxes">
                                <Content>
                                    <VendorInvoiceTaxes Taxes="Invoice.Taxes" />
                                </Content>
                            </Card>
                            @*</div>
                                <div class="col col-12 col-md-6">*@
                            <Card Title="Payments">
                                <Content>
                                    <VendorInvoicePayments Payments="Invoice.Payments" />
                                </Content>
                            </Card>
                            @*</div>*@
                        </div>
                    </div>
                    <div class="col col-12 col-md-3 col-lg-2 totals-col">
                        <Card Title="Totals">
                            <Content>
                                <VendorInvoiceTotals />
                            </Content>
                        </Card>
                    </div>
                </div>
            </div>
            <SaveDiscardButtons OnSave="@OnValidSubmit" OnDiscard="@OnDiscard" />
        </Content>
    </Card>
</div>

<style>
    .container-fluid.m-container {
        padding: 0 !important;
        margin: 0 !important;
    }

    .vendor-invoice-form {
        display: grid;
    }

    .left-col {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }

    .tax-payment-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    .totals-col {
        display: grid;
        padding-left: 0;
        grid-gap: 1rem;
    }

    @@media (max-width:767px) {
        .totals-col {
            padding: 1rem 1rem 0 1rem;
        }
    }

    @@media (max-width:991px) {
        .tax-payment-row {
            grid-template-columns: 1fr;
            padding: 0;
        }
    }
</style>
