<div hidden="@(Vendor?.Address is not null)"
     class="m-icon-button-group">
    <div>
        <label class="k-label">
            No records available.
        </label>
    </div>
    <button class="btn m-icon-button m-add-btn"
            @onclick="AddAddress"
            id="addAddress">
        <i class="fas fa-plus"></i>
    </button>
    <label for="addAddress"
           class="k-label"
           title="Add address">
    </label>
</div>

@if (Vendor?.Address is not null)
{
    <div class="form-group">
        <div @onclick="EditAddress">
            <AddressEditor Address="@Vendor?.Address"
                       Enabled="FormMode == FormMode.Edit || FormMode == FormMode.Add"
                       FormMode="FormMode" />
        </div>
        <span>
            <div @onclick="RemoveAddress">
                <button class="btn m-icon-button m-delete-btn"
                    @onclick="RemoveAddress"
                    id="removeAddress">
                    <i class="fas fa-trash"></i>
                </button>
            </div>
        </span>
        <label for="removeAddress"
           class="k-label"
           title="Remove address">
        </label>
    </div>
}
<style>
    .m-icon-button-group {
        margin-top: .5em;
    }
</style>