@if (Tenant == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="card">
        <img src="@Tenant?.LogoUrl"
             asp-append-version="true"
             class="img-thumbnail img-fluid"
             alt="Tenant Logo"
             title="@Tenant?.CompanyName"
             onerror="this.onerror=null;this.src='@errorUrl';">
    </div>
}