<div class="form-group">
    <label for="address" class="k-label">Street</label>
    <TelerikTextBox @bind-Value="@Address.AddressLine"
                    Id="address"
                    Width="100%"
                    AutoComplete="off"
                    Enabled="Enabled" />
</div>
<div class="form-group">
    <label for="city" class="k-label">City</label>
    <TelerikTextBox @bind-Value="@Address.City"
                    Id="city"
                    Width="100%"
                    AutoComplete="off"
                    Enabled="Enabled" />
</div>

<div class="form-group">
    <label for="state" class="k-label">State</label>
    <TelerikComboBox Data="StateEnumData"
                     Id="state"
                     TextField="DisplayText"
                     ValueField="Value"
                     @bind-Value="@Address.State"
                     Width="100%"
                     Filterable="true"
                     ClearButton="false"
                     Placeholder="Select a State"
                     Enabled="Enabled" />
</div>

<div>
    <label for="postalCode" class="k-label">Postal Code</label>
    <TelerikTextBox @bind-Value="@Address.PostalCode"
                    Id="postalCode"
                    Width="100%"
                    AutoComplete="off"
                    Enabled="Enabled" />
</div>
<style>
    .k-label {
        margin-bottom: .2rem !important;
    }

    .add-item {
        color: white;
        background-color: forestgreen;
    }

    .remove-item {
        color: white;
        background-color: indianred;
    }
</style>