@layout TelerikLayout
@inherits LayoutComponentBase
    <TelerikRootComponent>

        <div class="">
            <div class="">
                <NavMenu />
            </div>

            @Body
        </div>
    </TelerikRootComponent>
