.form-control-label {
    font-size: small
}

.button-border-success {
    border: 3px solid #42ba96;
}

    .button-border-success:hover, .button-border-success:focus, .button-border-success:active, .button-border-success.active {
        border: 3px solid #2e8269;
    }
