@page "/payables/vendors/{id:long}"

@using Menominee.Client.Components.Payables

<PayablesMenu />

@if (Vendor != null)
{
    <div class="m-main-content">
        <VendorForm Vendor="@Vendor" OnValidSubmit="@Save" OnDiscard="@Discard" />
    </div>
}