<div class="container">
    <div class="h6">Emails</div>
    @*If there are emails, list them in a table and show.*@
    @if (((int)Emails?.Count()) > 0)
    {
        <ContactableTemplate Items="Emails"
                             TItem="EmailToWrite"
                             Context="email"
                             @key="Email"
                             OnRowClick="Edit">
            <TableHeader>
                <th>Address</th>
                <th>Primary</th>
            </TableHeader>
            <RowTemplate>
                <td>
                    @email.Address
                </td>
                <td>
                    <TelerikCheckBox @bind-Value="email.IsPrimary" Enabled="false" />
                </td>
            </RowTemplate>
        </ContactableTemplate>
    }

    @*If adding or editing email, show the edit form in modal dialog*@
    @if (Adding || Editing)
    {
        <EditForm Model="Email">
            <TelerikWindow Visible="DialogVisible"
                           Modal="true">
                <WindowTitle>
                    Email
                </WindowTitle>
                <WindowContent>
                    <div class="container">
                        <div class="form-group row">
                            <label class="k-label">Address</label>
                            <TelerikTextBox @bind-Value="@Email.Address"
                                            Width="100%">
                            </TelerikTextBox>
                        </div>
                        <div class="form-group row">
                            <label>
                                <TelerikCheckBox @bind-Value="@Email.IsPrimary"></TelerikCheckBox>
                                <span class="k-label">Primary</span>
                            </label>
                        </div>
                        <div>
                            <TelerikButton OnClick="Save"
                                           Icon="check"
                                           ThemeColor="primary"
                                           ButtonType="ButtonType.Button"
                                           Class="dialog-button"
                                           title="Save New Email">
                                Ok
                            </TelerikButton>
                            <TelerikButton OnClick="CancelEdit"
                                           ButtonType="ButtonType.Button"
                                           Class="dialog-button"
                                           Icon="x"
                                           title="Cancel New Email">
                                Cancel
                            </TelerikButton>
                        </div>
                    </div>
                </WindowContent>
            </TelerikWindow>
        </EditForm>

    }
    <div>
        <TelerikButton OnClick="Add"
                       Icon="plus"
                       ButtonType="ButtonType.Button"
                       Class="button-border-success"
                       title="Add New Email">
            Add Email
        </TelerikButton>
    </div>
</div>
<style>
    .k-label {
        margin-bottom: .2rem !important;
    }

    .dialog-button {
        margin-right: 0.7rem;
    }
</style>