<EditForm Model="Email">
    <TelerikWindow Visible="true"
                   Modal="true"
                   Class="popupWindowClass">
        <WindowTitle>
            @Title
        </WindowTitle>
        <WindowContent>
            <div class="form-row">
                <div class="form-group col-12">
                    <label class="k-label">Address</label>
                    <TelerikTextBox @bind-Value="@Email.Address"
                                    Id="emailaddress"
                                    AutoComplete="false"
                                    Width="100%">
                    </TelerikTextBox>

                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12">
                    <div>
                        <label>
                            <TelerikCheckBox @bind-Value="@Email.IsPrimary"></TelerikCheckBox>
                            <span class="k-label">Primary</span>
                        </label>
                    </div>
                </div>
            </div>

            <hr id="divider">
            <div class="form-row">
                <div class="form-group col-12 mb-0">
                    <TelerikButton OnClick="OnSave"
                                   ButtonType="ButtonType.Button"
                                   ThemeColor="primary"
                                   Class="dialog-button">
                        <i class="fas fa-check"></i> Save
                    </TelerikButton>
                    <TelerikButton OnClick="OnCancel"
                                   ButtonType="ButtonType.Button"
                                   Class="dialog-button">
                        <i class="fas fa-times"></i> Discard
                    </TelerikButton>
                </div>
            </div>
        </WindowContent>
    </TelerikWindow>
</EditForm>

<style>
    #divider {
        margin-top: 0;
        border-color: darkgrey;
    }

    .dialog-button {
        margin-right: 0.7rem;
    }

</style>
