<p>@Message</p>

<div class="m-centered-button-group">
    <button class="ui primary button">OK</button>
</div>

<style>
    .m-centered-button-group {
        display: flex;
        justify-content: center;
        width: 100%;
    }
</style>
