@page "/organizations"
@using Telerik.FontIcons
@using CustomerVehicleManagement.Shared
@attribute [Microsoft.AspNetCore.Authorization.Authorize
(Policies.CanManageHumanResources)]

<div class="container">
    <div class="h5">Organizations</div>

    @if (OrganizationFormMode != FormMode.Add && OrganizationFormMode != FormMode.Edit)
    {
        @if (Organizations == null)
        {
            <p><em>Loading...</em></p>
        }
        @if (Organizations != null)
        {
            <div class="pb-3">
                <TelerikButton OnClick="Add"
                       ThemeColor="primary"
                       Icon="@FontIcon.Plus"
                       title="Add New Organization">
                    Add Organization
                </TelerikButton>
            </div>

            <OrganizationsGrid Organizations="Organizations"
                       OnRowClicked="@EditAsync" />
        }
    }

    @if ((OrganizationFormMode == FormMode.Add || OrganizationFormMode == FormMode.Edit) && Organization != null)
    {
        <OrganizationContactableEditor Organization="Organization"
                                   FormMode="OrganizationFormMode"
                                   Save="SubmitHandlerAsync"
                                   Close="SubmitHandlerAsync" />
    }
</div>
<style>
    .dialog-button {
        margin-right: 0.7rem;
    }
</style>